In [1]:
import pandas as pd
from  sklearn.preprocessing import OneHotEncoder

In [2]:
df=pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [6]:
# Create an instance of OHE

encoder=OneHotEncoder()

In [10]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [11]:
import pandas as pd
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [12]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [13]:
encoder.transform([['blue']]).toarray()

c:\Users\Ilya\Documents\Data science course\.venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [14]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0